* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.app-container {
  margin-top: 0;
}

.app-content .container {
  position: absolute;
  margin-top: 100px;
  margin-left: 100px;
}

.app-content {
  /* margin-top: 64px; */
}
